.services-section {
    /* to account for the fixed social media bar */
    margin: 0;
    padding: 20px;
    position: relative;
    background: url(/assets/images/backgrounds/ship1.jpg) no-repeat center center/cover;
}

.background-overlay {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    text-align: center;
}

.section-title {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    padding: 20px;
}


.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.service-card {
    position: relative;
    width: 30%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.service-card img {
    width: 100%;
    height: auto;
    display: block;
}

.service-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card:hover .overlay {
    opacity: 1;
}

.service-text {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .service-card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .service-card {
        width: 100%;
    }
}

/* NEXT SECTINO */

main {
    padding: 40px 20px;
}

.cfs-operations {
    text-align: justify;


}

.cfs-operations h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.bp1-operations {
    margin-bottom: 20px;
}
.bp1-operations h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.bp1-operations p {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
}

.service-booking {
    border: 2px solid #dc3545;
    padding: 10px 20px;
    border-radius: 5px;
    color: #dc3545;
    text-decoration: none;
    font-size: 16px;
}
.service-booking:hover{
    background: red;
    text-decoration: none;
    color: white;

}

.image-container {
    text-align: center;
}

.image-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    display: block;
    margin-bottom: 30px;
}

@media (max-width: 658px){
    .bp1-content {
        flex-direction: column;
        align-items: center;
    }

    .bp1-content img {
        margin-top: 30px;
        padding-right: 50px;
    }

    .bp1-text, .bp1-image {
        max-width: 80%;
        text-align: center;
    }

    .bp1-text h3 {
        font-size: 20px;
    }

    .bp1-text p {
        font-size: 14px;
    }

}

@media (max-width: 768px) {

    .port-reitze-content{
        flex-direction: column;
        align-items: center;
    }

    .port-reitze-image, .port-reitze-text {
        max-width: 100%;
        text-align: center;
    }

    .port-reitze-text h3 {
        font-size: 20px;
    }
    .port-reitze-image img {

        max-width: 100%;
        margin-left: 30px;
        padding-top: 20px;
    }

    .port-reitze-text p {
        font-size: 14px;
    }

    .cfs-operations h1 {
        font-size: 28px;
    }

    .bp1-operations h2 {
        font-size: 20px;
    }

    .bp1-operations p {
        font-size: 16px;
    }

    .service-booking {
        font-size: 14px;
        padding: 8px 16px;
    }

    .image-container img {
        max-width: 100%;
    }
}

@media (max-width: 480px) {

    main {
        padding: 20px 10px;
    }

    .cfs-operations h1 {
        font-size: 24px;
    }

    .bp1-operations h2 {
        font-size: 18px;
    }

    .bp1-operations p {
        font-size: 14px;
    }

    .service-booking {
        font-size: 12px;
        padding: 6px 12px;
    }
}


/* OPERATIONS */
#bp1-operations {
    padding: 50px 20px;
    background-color: #f9f9f9;
}

#bp1-operations .container {
    max-width: 1200px;
    margin: 0 auto;
}

#bp1-operations .bp1-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bp1-operations .bp1-text {
    flex: 1;
    margin-right: 20px;
}

#bp1-operations .bp1-text h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

#bp1-operations .bp1-text p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

#bp1-operations .service-booking-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #e74c3c;
    color: #e74c3c;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#bp1-operations .service-booking-button:hover {
    background-color: #e74c3c;
    color: #fff;
}

#bp1-operations .bp1-image {
    flex: 1;
    text-align: right;
}

#bp1-operations .bp1-image img {
    max-width: 80%;
    border-radius: 10px;
}


/* PORT REITZE */

#port-reitze {
    padding: 50px 20px;
    background-color: #f9f9f9;
}

#port-reitze .container {
    max-width: 1200px;
    margin: 0 auto;
}

#port-reitze .port-reitze-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#port-reitze .port-reitze-text {
    flex: 1;
    margin-left: 10px;
}

#port-reitze .port-reitze-text h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

#port-reitze .port-reitze-text p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

#port-reitze .service-booking-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #e74c3c;
    color: #e74c3c;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#port-reitze .service-booking-button:hover {
    background-color: #e74c3c;
    color: #fff;
}

#port-reitze .port-reitze-image {
    flex: 1;
    text-align: left;
}

#port-reitze .port-reitze-image img {
    max-width: 80%;
    border-radius: 10px;
}


/* BOOKING SECTION */

/* Modal styles */
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
}

#bookingForm {
    display: flex;
    flex-direction: column;
}

#bookingForm label {
    margin-top: 10px;
}

#bookingForm input,
#bookingForm select,
#bookingForm textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

#bookingForm button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e74c3c;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

#bookingForm button:hover {
    background-color: #c0392b;
}
